            <div class="__eoswitch__">
                <img src="__image__" alt="__image_description__" width="200" height="200" class="img">
                <div class="textdiv">
                    <h3 class="h3">__h__</h3>
__text__
                </div>
            </div>
