                <tr>
                    <td class="evtdl">__event_date__</td>
                    <td class="evtdm">__event_location__</td>
                    <td class="evtdr">__event_name__</td>
                </tr>
